{% extends "::base.html.twig" %}
{% block body %}

    <div class="starter-template">

        <h1>Hello, {{ stakeholder.name }}</h1>
        <p class="lead">Unfortunately, the voting is closed. Contact the product owner to get the details for the next
            voting.</p>

    </div>

{% endblock %}