{% extends "::base.html.twig" %}
{% block body %}

    <div class="starter-template">

        <h1>Hello,</h1>
        <p class="lead">Voting is opened, priorities will be visible when the voting closes. Contact the product owner to get more details.</p>

    </div>

{% endblock %}